<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Embedded Content</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>This is an Embedded Page</h1>-->
<!--    <p>Welcome to the embedded content page!</p>-->
<!--</body>-->
<!--</html>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Embed React App</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>React App Embedded Below</h1>-->
<!--    <iframe src="http://localhost:5200/" width="1920" height="1080"></iframe>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<head>
    <title>Embed React App</title>
</head>
<body>
<!--    <h1>React App Embedded Below</h1>-->
<!--    &lt;!&ndash; Display the username directly on the page &ndash;&gt;-->
<!--    <h2>Welcome, {{ username }}!</h2>-->
    <!-- Optionally, pass the username to the React app via URL parameters -->
    <iframe src="http://localhost:5200/?username={{ username }}" width="1920" height="880"></iframe>
</body>
</html>
